interface={{wifi_interface}}
ssid={{wifi_ssid}}
hw_mode=g
channel={{wifi_channel}}
ieee80211n=1
wmm_enabled=1
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_passphrase={{wifi_password}}
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
